<%= form_with(model: @flat, local: true) do |form| %>

  <!-- Name of the Flat -->
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <!-- Address of the Flat -->
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <!-- Description of the Flat -->
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <!-- Price per Night for the Flat -->
  <div class="form-group">
    <%= form.label :price_per_night %>
    <%= form.number_field :price_per_night, class: 'form-control' %>
  </div>

  <!-- Number of Guests the Flat can accommodate -->
  <div class="form-group">
    <%= form.label :number_of_guests %>
    <%= form.number_field :number_of_guests, class: 'form-control' %>
  </div>

  <!-- URL of the Flat's picture -->
  <div class="form-group">
    <%= form.label :picture_url, "Picture URL" %>
    <%= form.text_field :picture_url, class: 'form-control' %>
  </div>

  <!-- Submit button -->
  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
