<%= form_with(url: flats_path, method: :get, local: true) do |form| %>
  <div class="form-group">
   <%= form.text_field :query, value: params[:query], placeholder: "Search...", class: "form-control" %>
  </div>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>

<% if @results_count %>
  <% if @results_count > 0 %>
    <p>We found <%= @results_count %> apartment(s) that match your search.</p>
  <% else %>
    <p>No apartments match your search criteria.</p>
  <% end %>
<% end %>


<%= link_to "Add a New Flat", new_flat_path, class: "btn btn-primary mb-3" %>

<div class="flats-container">
<% @flats.each do |flat| %>
  <div class="flat">
    <!-- Display the image of the flat or a placeholder if it doesn't exist -->
    <% if flat.picture_url.present? %>
      <%= image_tag flat.picture_url, alt: flat.name, class: 'flat-thumbnail' %>
    <% else %>
      <p>No picture for this flat.</p>
    <% end %>
    <!-- Make the entire card clickable to view the description of the flat -->
    <%= link_to flat_path(flat) do %>
      <h2><%= flat.name %></h2>
      <p><%= flat.address %></p>
      <p><%= flat.description %></p>
      <p><%= flat.price_per_night %> per night</p>
      <p>Guests: <%= flat.number_of_guests %></p>
    <% end %>

    <!-- Separate "Edit" and "Remove" link within the card -->
    <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-secondary" %>
    <%= link_to "Remove", flat_path(flat),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger" %>
  </div>
<% end %>
</div>
